USE [KutuphaneDb]
GO
/****** Object:  Table [dbo].[Kutuphane]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kutuphane](
	[KutuphaneId] [int] IDENTITY(1,1) NOT NULL,
	[KutuphaneAd] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KutuphaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitap]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitap](
	[KitapId] [int] IDENTITY(1,1) NOT NULL,
	[KitapAd] [nvarchar](40) NOT NULL,
	[KitapYazar] [nvarchar](40) NOT NULL,
	[KategoriId] [int] NULL,
	[KutuphaneId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KitapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PsikolojiKitap]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[PsikolojiKitap]
as
select ki.KitapAd,
    ki.KitapYazar,
    ka.KategoriAd,
    k.KutuphaneAd from Kitap ki
join Kategori ka on ki.KategoriId=ka.KategoriId
join Kutuphane k on k.KutuphaneId=ki.KutuphaneId
where ka.KategoriAd='Psikoloji'
GO
/****** Object:  View [dbo].[KitapNerde]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[KitapNerde]
as
select k.KitapAd, k.KitapYazar, ka.KategoriAd, ku.KutuphaneAd from Kitap k
join Kutuphane ku on ku.KutuphaneId=k.KutuphaneId
join Kategori ka on ka.KategoriId=k.KategoriId
GO
/****** Object:  View [dbo].[KutuphaneKacKitap]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[KutuphaneKacKitap]
as
select k.KutuphaneAd,count(ki.KitapId) ToplamKitap from Kutuphane k
join Kitap ki on ki.KutuphaneId=k.KutuphaneId group by k.KutuphaneAd
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[CalisanId] [int] IDENTITY(1,1) NOT NULL,
	[CalisanAd] [nvarchar](40) NOT NULL,
	[CalisanSoyad] [nvarchar](40) NOT NULL,
	[Gorev] [nvarchar](50) NULL,
	[KutuphaneId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalisanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitap_Musteri]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitap_Musteri](
	[Kitap_MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[KitapId] [int] NULL,
	[MusteriId] [int] NULL,
	[AlisTarihi] [date] NOT NULL,
	[IadeTarihi] [date] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kitap_MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 11.02.2025 20:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](40) NOT NULL,
	[MusteriSoyad] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calisanlar] ON 

INSERT [dbo].[Calisanlar] ([CalisanId], [CalisanAd], [CalisanSoyad], [Gorev], [KutuphaneId]) VALUES (1, N'Talha', N'ONDES', N'Müdür', 6)
INSERT [dbo].[Calisanlar] ([CalisanId], [CalisanAd], [CalisanSoyad], [Gorev], [KutuphaneId]) VALUES (2, N'Zeynep', N'YILMAZ', N'Müdür', 7)
INSERT [dbo].[Calisanlar] ([CalisanId], [CalisanAd], [CalisanSoyad], [Gorev], [KutuphaneId]) VALUES (4, N'Fatih', N'YILDI', N'Temizlik İşleri', 1)
SET IDENTITY_INSERT [dbo].[Calisanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd]) VALUES (1, N'Roman')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd]) VALUES (2, N'Bilim Kurgu')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd]) VALUES (3, N'Fantastik')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitap] ON 

INSERT [dbo].[Kitap] ([KitapId], [KitapAd], [KitapYazar], [KategoriId], [KutuphaneId]) VALUES (1, N'Roman Kitabı 1', N'Yazar 1', 1, 1)
INSERT [dbo].[Kitap] ([KitapId], [KitapAd], [KitapYazar], [KategoriId], [KutuphaneId]) VALUES (2, N'Bilim Kurgu Kitabı 1', N'Yazar 2', 2, 2)
INSERT [dbo].[Kitap] ([KitapId], [KitapAd], [KitapYazar], [KategoriId], [KutuphaneId]) VALUES (3, N'Fantastik Kitabı 1', N'Yazar 3', 3, 3)
SET IDENTITY_INSERT [dbo].[Kitap] OFF
GO
SET IDENTITY_INSERT [dbo].[Kitap_Musteri] ON 

INSERT [dbo].[Kitap_Musteri] ([Kitap_MusteriId], [KitapId], [MusteriId], [AlisTarihi], [IadeTarihi], [Durum]) VALUES (1, 1, 1, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-10' AS Date), N'Teslim Edildi')
INSERT [dbo].[Kitap_Musteri] ([Kitap_MusteriId], [KitapId], [MusteriId], [AlisTarihi], [IadeTarihi], [Durum]) VALUES (2, 2, 2, CAST(N'2025-02-02' AS Date), CAST(N'2025-02-12' AS Date), N'Teslim Edildi')
INSERT [dbo].[Kitap_Musteri] ([Kitap_MusteriId], [KitapId], [MusteriId], [AlisTarihi], [IadeTarihi], [Durum]) VALUES (3, 3, 3, CAST(N'2025-02-03' AS Date), CAST(N'2025-02-15' AS Date), N'Ödünç Alındı')
SET IDENTITY_INSERT [dbo].[Kitap_Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kutuphane] ON 

INSERT [dbo].[Kutuphane] ([KutuphaneId], [KutuphaneAd]) VALUES (1, N'Fatih Merkez Kütüphanesi
')
INSERT [dbo].[Kutuphane] ([KutuphaneId], [KutuphaneAd]) VALUES (2, N'Vatan Kütüphanesi
')
INSERT [dbo].[Kutuphane] ([KutuphaneId], [KutuphaneAd]) VALUES (3, N'Cerrahpaşa Kütüphanesi
')
SET IDENTITY_INSERT [dbo].[Kutuphane] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (1, N'Ahmet', N'Yılmaz')
INSERT [dbo].[Musteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (2, N'Ayşe', N'Demir')
INSERT [dbo].[Musteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (3, N'Mehmet', N'Kaya')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD FOREIGN KEY([KutuphaneId])
REFERENCES [dbo].[Kutuphane] ([KutuphaneId])
GO
ALTER TABLE [dbo].[Kitap]  WITH CHECK ADD FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Kitap]  WITH CHECK ADD FOREIGN KEY([KutuphaneId])
REFERENCES [dbo].[Kutuphane] ([KutuphaneId])
GO
ALTER TABLE [dbo].[Kitap_Musteri]  WITH CHECK ADD FOREIGN KEY([KitapId])
REFERENCES [dbo].[Kitap] ([KitapId])
GO
ALTER TABLE [dbo].[Kitap_Musteri]  WITH CHECK ADD FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteri] ([MusteriId])
GO
/****** Object:  StoredProcedure [dbo].[AlinmisKitaplar]    Script Date: 11.02.2025 20:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AlinmisKitaplar]
(
@Kitap1 nvarchar(25)
)
as
select* from Kitap_Musteri km 
join Kitap ki on km.KitapId=ki.KitapId 
join Kategori ka on ka.KategoriId=ki.KategoriId
join Musteri m on km.MusteriId=m.MusteriId
where durum='Ödünç Alındı' and ka.KategoriAd=@Kitap1
GO
/****** Object:  StoredProcedure [dbo].[KitapEkle]    Script Date: 11.02.2025 20:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KitapEkle]
(
@KitapAd nvarchar(35),
@KitapYazar nvarchar(35),
@Kategori int,
@KutuphaneId int
)
as
insert Kitap(KitapAd,KitapYazar,KategoriId,KutuphaneId) values (@KitapAd,@KitapYazar,@Kategori,@KutuphaneId)
GO
/****** Object:  StoredProcedure [dbo].[KitapKirala]    Script Date: 11.02.2025 20:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KitapKirala]
(
@KitapId int,
@MusteriId int,
@AlisTarih date,
@IadeTarihi date
)
as
insert Kitap_Musteri(KitapId,MusteriId,AlisTarihi,IadeTarihi) values (@KitapId,@MusteriId,@AlisTarih,@IadeTarihi)
GO
/****** Object:  StoredProcedure [dbo].[MusteriEkle]    Script Date: 11.02.2025 20:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MusteriEkle]
(
@MusteriAd nvarchar(40),
@MusteriSoyad nvarchar(40)
)
as
if(not exists(select*from Musteri where MusteriAd=@MusteriAd))
begin
insert Musteri(MusteriAd,MusteriSoyad) values(@MusteriAd,@MusteriSoyad)
end
else
begin
print 'Bu İsimde Müşteri Var'
end
GO
/****** Object:  StoredProcedure [dbo].[MusteriSil]    Script Date: 11.02.2025 20:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MusteriSil]
(
    @MusteriId INT
)
as
begin
delete from Kitap_Musteri where MusteriId = @MusteriId;
delete from Musteri where MusteriId=@MusteriId
IF not exists (select * from Musteri where MusteriId = @MusteriId)
begin
print 'Kayıtlarda Bu Id ile Uyuşan Müşteri yok '
end
else
begin
print 'Müşteri Silindi'
end
end
GO
